/*
Phone first
*/
body {
    background-color: lightblue;
    overflow: hidden;
    margin: 0.1em;
}

.main {
    overflow: hidden;
    padding: 0.1em;
    margin: 0.1em;    
    height: 100%;          
}

.layout{
    float: right;  
    width: 200px; 
    background-color: rgb(0, 255, 170);
    margin: 0.1em;
    height:7%
}


.dropdown-selector{ 
    width: auto;  
    background-color: rgb(172, 255, 227);
    margin: 0.1em;
    overflow: hidden;
    height:7%
}

.navigating-map {
    width: 100%;         
    background-color: green; 
    height: 50%;
    margin-right: 0.2em;
}

.map-cell {
    height: 80%;
    width: auto;    
    background-color: rgb(3, 192, 129); 
    text-align: center;         
}

.floor-cell{                  
    height: 20%;
    float: left;
    width: calc(25% - 0.2em);    
    background-color: rgb(152, 255, 223); 
    margin: 0.1em;
    text-align: center;
    overflow: hidden;
}

.climate-tile {       
    width: 100%;
    background-color: rgb(231, 157, 134);
    height: 40%;
}

img {     
    width: auto;
    height: 100%;
}

@media only screen and (min-width: 600px) {
    
    .navigating-map {
        float: left;
        width: 50%;  
        height: 100%;
    }
    
    .map-cell{  
        height: auto;  
        width: 100%; 
    }
    
    
    .floor-cell{ 
        height: auto;
    }
    
    
    .climate-tile {
        width: auto;
        overflow: hidden;
        height: 200px;
    }
    
    img {    
        width: 100%;    
          
    } 

}